---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// Aqui escribes tu JS o TS
---

<!-- HTML: Lo que se renderiza -->
<Layout title="SpaceX Launches.">
  <main>
    <h1 class="text-6xl text-white font-bold">SpaceX Launches 🚀</h1>
  </main>
</Layout>
